name: Deploy Backend

on:
  push:
    branches: [ main ]

jobs:
  build-push:
    runs-on: ubuntu-latest # Esto sigue corriendo en GitHub para no saturar tu laptop
    steps:
      - uses: actions/checkout@v4
      
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and Push
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/wms-api:latest

  deploy:
    needs: build-push
    runs-on: self-hosted 
    steps:
      - name: Pull and Restart Container
        run: |
          cd ~/projects/wms-backend
          docker compose -f compose.prod.yml pull
          docker compose -f compose.prod.yml up -d
          docker image prune -f